@use 'src/main-styles';

.content {
  margin: 0;
  background-color: main-styles.$main-green;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px rgba(black, 0.8);

  h1 {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    padding: 8px 15px;

    @media (max-width: 456px) {
      margin: 12px 0;
    }

    @media (max-width: 435px) {
      padding: 8px 10px;
      margin: 15px 0;
    }
  }

  .img {
    width: 50px;
    margin: 0 5px;
  }

  .img1 {
    transform: scaleX(-1);
  }
}
