<div class="content">

  <div class="form">

    <label>
      Raum:
      <input type="text" [(ngModel)]="editRoom">
    </label>

    <label>
      Bezeichnung:
      <input type="text" [(ngModel)]="editName">
    </label>

    <label>
      Intervall in Tagen:
      <input type="number" max="365" [(ngModel)]="editInterval">
    </label>

    <label>
      Datum:
      <input type="date" [(ngModel)]="editStartDate">
    </label>

  </div>

  <div class="button-box">
    <app-button (click)="service.cancelAction()">Abbrechen</app-button>
    <app-button (click)="saveEditedPlant()">Speichern</app-button>
  </div>

</div>
