@use 'src/main-styles';

.content {
  height: 100%;
  margin: 140px 0 60px 0;

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 300px auto;

    @media (max-width: 500px) {
      margin: 200px auto;
    }

    p {
      text-align: center;
    }

    img {
      height: 150px;
      margin: 15px;
      transform: scaleX(1);

      @media (max-width: 470px) {
        height: 200px;
        width: 70px;
      }

      @media (max-width: 400px) {
        height: 250px;
        width: 70px;
      }
    }

    .plant-two {
      transform: scaleX(-1);
    }
  }
}

