<div class="content">

  <div class="form">

    <label>
      Raum:
      <input [(ngModel)]="newPlantRoom" type="text" placeholder="Wo steht die Pflanze?" [class.alert]="alert && newPlantRoom === ''">
    </label>

    <label>
      Bezeichnung:
      <input [(ngModel)]="newPlantName" type="text" placeholder="Welche Pflanze ist das?" [class.alert]="alert && newPlantName === ''">
    </label>

    <label>
      Intervall:
      <input [(ngModel)]="newPlantInterval" type="number" placeholder="Wie oft gießt du die Pflanze?" [class.alert]="alert && newPlantInterval === null">
    </label>

    <label>
      Datum:
      <input [(ngModel)]="newPlantStartDate" type="date" [class.alert]="alert && newPlantStartDate === ''">
    </label>

  </div>

  <div class="button-box">
    <app-button (click)="service.cancelNewPlant()">Abbrechen</app-button>
    <app-button (click)="saveNewPlant()">Speichern</app-button>
  </div>

</div>
