<div class="content" *ngFor="let plant of plants">

  <div class="row" [class.overdue]="dateIsOverdue(plant)">

    <div class="text">

      <div class="row-item">{{plant.room}}</div>
      <div class="row-item">{{plant.name}}</div>

      <div class="watering-date row-item">
        <div>{{service.getWeekday(plant.startDate)}}</div>
        <div>{{service.formatDate(plant.startDate)}}</div>
      </div>

    </div>


    <div class="icons">

      <div class="row-item">
        <img (click)="service.setNewInterval(plant)" src="assets/watering-can-pink.png" class="symbol watering">
        <img (click)="editPlant(plant)" src="assets/settings.png" class="symbol">
        <img (click)="deletionRequest(plant)" src="assets/delete.png" class="symbol">
      </div>

    </div>

  </div>

</div>
